<ul class="sidebar-nav">
  {% if user.is_authenticated %}
    User: <a href="{% url 'task_manager:worker-detail' pk=user.id %}">{{ user.username }}</a>
    <br>
    <a href="{% url 'logout' %}">Logout</a>
  {% else %}
    <a href="{% url 'login' %}">Login</a>
  {% endif %}
  <br>
  <br>
  <li><a href={% url "task_manager:index" %}>Home page</a></li>
  <li><a href={% url "task_manager:position-list" %}>Positions</a></li>
  <li><a href={% url "task_manager:task-type-list" %}>Task types</a></li>
  <li><a href={% url "task_manager:task-list" %}>Tasks</a></li>
  <li><a href={% url "task_manager:worker-list" %}>Workers</a></li>
</ul>
