{% extends "base.html" %}
{% block content %}
  <h2>Position List
    <a href = "{% url 'task_manager:position-create' %}" class="btn btn-primary btn-sm">Add</a>
  </h2>
  {% if position_list %}
    <table class="table">
      <thead>
      <tr>
        <th scope="col">id</th>
        <th scope="col">Name</th>
        <th scope="col">Update</th>
        <th scope="col">Delete</th>
      </tr>
      </thead>
      <tbody>
      {% for position in position_list %}
        <tr>
          <th scope="row">{{ position.id }}</th>
          <td>{{ position.name }}</td>
          <td>
            <a href="{% url "task_manager:position-update" pk=position.id %}" class="btn btn-info btn-sm">Update</a>
          </td>
          <td>
            <a href="{% url "task_manager:position-delete" pk=position.id %}" class="btn btn-danger btn-sm">Delete</a>
          </td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  {% else %}
    <p>There are no positions in the task manager.</p>
  {% endif %}
{% endblock %}
