{#{% extends "base.html" %}#}
{#{% block content %}#}
{#  <h2>Position List#}
{#    <a href = "{% url 'task_manager:position-create' %}" class="btn btn-primary btn-sm">Add</a>#}
{#  </h2>#}
{#  {% include "includes/search_form.html" %}#}
{#  {% if position_list %}#}
{#    <table class="table">#}
{#      <thead>#}
{#      <tr>#}
{#        <th scope="col">id</th>#}
{#        <th scope="col">Name</th>#}
{#        <th scope="col">Update</th>#}
{#        <th scope="col">Delete</th>#}
{#      </tr>#}
{#      </thead>#}
{#      <tbody>#}
{#      {% for position in position_list %}#}
{#        <tr>#}
{#          <th scope="row">{{ position.id }}</th>#}
{#          <td>{{ position.name }}</td>#}
{#          <td>#}
{#            <a href="{% url "task_manager:position-update" pk=position.id %}" class="btn btn-info btn-sm">Update</a>#}
{#          </td>#}
{#          <td>#}
{#            <a href="{% url "task_manager:position-delete" pk=position.id %}" class="btn btn-danger btn-sm">Delete</a>#}
{#          </td>#}
{#        </tr>#}
{#      {% endfor %}#}
{#      </tbody>#}
{#    </table>#}
{#  {% else %}#}
{#    <p>There are no positions in the task manager.</p>#}
{#  {% endif %}#}
{#{% endblock %}#}

{% extends "layouts/base-fullscreen.html" %}

{% block title %} Position List {% endblock %}

{% block body_class %} presentation-page bg-gray-200 {% endblock %}

{% block content %}
  {% include "includes/navigation.html" %}

  <header class="header-2">
    <div class="page-header min-vh-50 relative" style="background-image: url('{{ ASSETS_ROOT }}/img/orange.jpg')">
      <span class="mask opacity-4"></span>
      <div class="container">
        <div class="row">
          <div class="col-lg-7 text-center mx-auto">
            <h1 class="dark-blue-text pt-3 mt-n5">Position List</h1>
            <p class="lead mt-3 dark-blue-text" style="font-weight: bold">Organize your positions seamlessly.</p>
          </div>
        </div>
      </div>
    </div>
  </header>

  <div class="card card-body blur shadow-blur mx-3 mx-md-4 mt-n6">
    <section class="pt-3 pb-4" id="position-list">
      <div class="container">
        <div class="row">
          <div class="col-lg-10 mx-auto">
            <div class="d-flex justify-content-between align-items-center mb-3">
              <div>
                {% include "includes/search_form.html" %}
              </div>
              <div>
                <a href="{% url 'task_manager:position-create' %}" class="btn btn-success">Create</a>
              </div>
            </div>
            {% if position_list %}
              <table class="table">
                <thead>
                <tr>
                  <th scope="col">id</th>
                  <th scope="col">Name</th>
                  <th scope="col">Update</th>
                  <th scope="col">Delete</th>
                </tr>
                </thead>
                <tbody>
                {% for position in position_list %}
                  <tr>
                    <th scope="row">{{ position.id }}</th>
                    <td>{{ position.name }}</td>
                    <td>
                      <a href="{% url "task_manager:position-update" pk=position.id %}" class="btn btn-info btn-sm">Update</a>
                    </td>
                    <td>
                      <a href="{% url "task_manager:position-delete" pk=position.id %}" class="btn btn-danger btn-sm">Delete</a>
                    </td>
                  </tr>
                {% endfor %}
                </tbody>
              </table>

              {% block pagination %}
                {% include "includes/pagination.html" %}
              {% endblock %}

            {% else %}
              <p class="text-center">There are no positions in the task manager.</p>
            {% endif %}
          </div>
        </div>
      </div>
    </section>
  </div>

  {% block footer %}
    {% include "includes/footer.html" %}
  {% endblock %}
{% endblock %}
