{% extends "layouts/base-fullscreen.html" %}

{% block title %} Task Types List {% endblock %}

{% block body_class %} presentation-page bg-gray-200 {% endblock %}

{% block content %}
  {% include "includes/navigation.html" %}

  <header class="header-2">
    <div class="page-header min-vh-50 relative" style="background-image: url('{{ ASSETS_ROOT }}/img/yellow1.jpg')">
      <span class="mask opacity-4"></span>
      <div class="container">
        <div class="row">
          <div class="col-lg-7 text-center mx-auto">
            <h1 class="dark-blue-text pt-3 mt-n5">Task Type List</h1>
            <p class="lead mt-3 dark-blue-text" style="font-weight: bold">Manage your task types with ease.</p>
          </div>
        </div>
      </div>
    </div>
  </header>

  <div class="card card-body blur shadow-blur mx-3 mx-md-4 mt-n6">
    <section class="pt-3 pb-4" id="task-type-list">
      <div class="container">
        <div class="row">
          <div class="col-lg-10 mx-auto">
            <div class="d-flex justify-content-between align-items-center mb-3">
              <div>
                {% include "includes/search_form.html" %}
              </div>
              <div>
                <a href="{% url 'task_manager:task-type-create' %}" class="btn btn-success">Create</a>
              </div>
            </div>
            {% if task_type_list %}
              <table class="table">
                <thead>
                  <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Name</th>
                    <th scope="col">Update</th>
                    <th scope="col">Delete</th>
                  </tr>
                </thead>
                <tbody>
                  {% for task_type in task_type_list %}
                    <tr>
                      <th scope="row">{{ task_type.id }}</th>
                      <td>{{ task_type.name }}</td>
                      <td>
                        <a href="{% url 'task_manager:task-type-update' pk=task_type.id %}" class="btn btn-info btn-sm">Update</a>
                      </td>
                      <td>
                        <a href="{% url 'task_manager:task-type-delete' pk=task_type.id %}" class="btn btn-danger btn-sm">Delete</a>
                      </td>
                    </tr>
                  {% endfor %}
                </tbody>
              </table>

              {% block pagination %}
                {% include "includes/pagination.html" %}
              {% endblock %}

            {% else %}
              <p class="text-center">There are no task types in the task manager.</p>
            {% endif %}
          </div>
        </div>
      </div>
    </section>
  </div>

  {% block footer %}
    {% include "includes/footer.html" %}
  {% endblock %}
{% endblock %}
