{% extends "base.html" %}
{% block content %}
  <h2>{{ task.name }}</h2>
  <h3>Task Type: {{ task.task_type.name }}</h3>
  <a href="{% url "task_manager:task-update" pk=task.id %}" class="btn btn-info btn-sm">Update task</a>
  <a href="{% url "task_manager:task-delete" pk=task.id %}" class="btn btn-danger btn-sm">Delete task</a>
  <hr>
  <p><strong>Workers:</strong></p>
  <ul>
    {% for assignee in task.assignees.all %}
      <li>{{ assignee.first_name }} {{ assignee.last_name }} - {{ assignee.position }}</li>
    {% endfor %}
  </ul>
{% endblock %}
