{#{% extends "base.html" %}#}
{#{% load crispy_forms_filters %}#}
{#{% block content %}#}
{#  <h1>{{ object|yesno:"Update,Create" }} task type</h1>#}
{#  <form action="" method="post">#}
{#    {% csrf_token %}#}
{#    {{ form|crispy }}#}
{#    <input type="submit" value="Submit" class="btn btn-primary">#}
{#  </form>#}
{#{% endblock %}#}

{% extends "layouts/base-fullscreen.html" %}
{% load crispy_forms_filters %}

{% block title %} {{ object|yesno:"Update,Create" }} Task Type {% endblock %}

{% block body_class %} presentation-page bg-gray-200 {% endblock %}

{% block content %}
  {% include "includes/navigation.html" %}

  <header class="header-2">
    <div class="page-header min-vh-50 relative" style="background-image: url('{{ ASSETS_ROOT }}/img/yellow1.jpg')">
      <span class="mask opacity-4"></span>
      <div class="container">
        <div class="row">
          <div class="col-lg-7 text-center mx-auto">
            <h2 class="dark-blue-text pt-3 mt-n5">{{ object|yesno:"Update your task type,Create a new task type" }} below</h2>
          </div>
        </div>
      </div>
    </div>
  </header>

  <div class="card card-body blur shadow-blur mx-3 mx-md-4 mt-n6">
    <section class="pt-3 pb-4" id="task-type-create">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 mx-auto">
            <form action="" method="post">
              {% csrf_token %}
              {{ form|crispy }}
              <div class="d-flex justify-content-end mt-3">
                <input type="submit" value="{{ object|yesno:'Update,Create' }}" class="btn mr-2 {{ object|yesno:'btn-info,btn-success' }}">
                <a href="{% url 'task_manager:task-type-list' %}" class="btn btn-secondary">Cancel</a>
              </div>
            </form>
          </div>
        </div>
      </div>
    </section>
  </div>

  {% block footer %}
    {% include "includes/footer.html" %}
  {% endblock %}
{% endblock %}
