{% extends "base.html" %}
{% block content %}
  <h2>{{ worker.first_name }} {{ worker.last_name }} tasks info:</h2>
  <table class="table">
    <thead>
    <tr>
      <th scope="col">id</th>
      <th scope="col">Name</th>
      <th scope="col">Description</th>
      <th scope="col">Deadline</th>
      <th scope="col">Completed</th>
      <th scope="col">Priority</th>
      <th scope="col">Task Type</th>
      <th scope="col">Assignees</th>
    </tr>
    </thead>
    <tbody>
    {% for task in worker.tasks.all %}
      <tr>
        <th scope="row"><a href={{ task.get_absolute_url }}>{{ task.id }}</a></th>
        <td>{{ task.name }}</td>
        <td>{{ task.description }}</td>
        <td>{{ task.deadline }}</td>
        <td>{{ task.is_completed }}</td>
        <td>{{ task.priority }}</td>
        <td>{{ task.task_type.name }}</td>
        <td>
          <ul class="list">
            {% for assignee in task.assignees.all %}
              <li>{{ assignee.first_name }} {{ assignee.last_name }}</li>
            {% endfor %}
          </ul>
        </td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
{% endblock %}
